body{
    background: #2f3640;
  }
  .head{
    text-align: center;
    color:#fff;
    margin: 5rem 0;
    a{
      color:#fff;
    }
    h3{
      font-size: 14px;
      font-weight: normal;
    }
  }
  
  .carousel{
    overflow-x: clip;
  }
  
  .swiper{
    padding: 5rem 0;
    overflow: visible;
    .swiper-slide{
      width: 400px;
    }
  }
  
  .single{
    position: relative;
    pointer-events: none;
    user-select: none;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    img{
      width: 100%;
      height: auto;
      vertical-align: top;
      border-radius: 8px;
      pointer-events: none;
     }
  }